.orange-text {
  text-align: center;
  color: #fff;
  font-size: 30px;
  outline: #2F4F4F solid 10px;
  margin-bottom: 65px;
  margin-top: 10px;
}
.title{
 text-align: center;
 padding-top: 3rem;
 font-size: 3rem;
 text-shadow:  0.3rem 0.3rem red;
}

